<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>typeValue</key>
		<string></string>
		<key>typeString</key>
		<string>不限</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=01</string>
		<key>typeString</key>
		<string>农林牧渔业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=02</string>
		<key>typeString</key>
		<string>采掘业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=03</string>
		<key>typeString</key>
		<string>制造业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=04</string>
		<key>typeString</key>
		<string>电力、煤气及水生产和供应</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=05</string>
		<key>typeString</key>
		<string>建筑业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=06</string>
		<key>typeString</key>
		<string>交通运输、仓储及邮电通信业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=07</string>
		<key>typeString</key>
		<string>信息传输、计算机服务和软件业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=08</string>
		<key>typeString</key>
		<string>批发零售业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=09</string>
		<key>typeString</key>
		<string>住宿和餐饮业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=10</string>
		<key>typeString</key>
		<string>金融业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=11</string>
		<key>typeString</key>
		<string>房地产业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=12</string>
		<key>typeString</key>
		<string>房地产业租赁和商务服务业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=13</string>
		<key>typeString</key>
		<string>科学研究、技术服务和地质勘查业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=14</string>
		<key>typeString</key>
		<string>水利、环境和公共设施管理业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=15</string>
		<key>typeString</key>
		<string>居民服务和其它服务业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=16</string>
		<key>typeString</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=17</string>
		<key>typeString</key>
		<string>卫生、社会保障和公共设施管理</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=18</string>
		<key>typeString</key>
		<string>文化、体育和娱乐业</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=19</string>
		<key>typeString</key>
		<string>公共管理和社会组织</string>
	</dict>
	<dict>
		<key>typeValue</key>
		<string>aab022=20</string>
		<key>typeString</key>
		<string>国际组织</string>
	</dict>
</array>
</plist>
